* {
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
li {
    list-style: none;
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
body {
    width: 100%;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    outline: none;
    border-radius: 4px;
}
button.normal:hover {
    background-color: #088178;
    color: #fff;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.5s;
    outline: none;
}
/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    padding: 0 20px;
}
#navbar li a {
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.5s;
    position: relative;
}
#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: '';
    width: 40%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 0px;
}
.mobile {
    display: none;
    align-items: center;
}
#close {
    display: none;
}
/* header */

/* hero */
.hero {
    background-image: url(/image/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero h4 {
    padding-bottom: 15px;
}
.hero h1 {
    color: #088178;
}
.hero button {
    cursor: pointer;
    background-image: url(/image/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
}
/* hero */

/* feature */
.feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 25px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
}
.feature .fe-box:hover {
    box-shadow: 10px 10px 34px rgba(0, 0, 0, 0.03);
}
.feature_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
.feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}
.feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
.feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
.feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
.feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
.feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}
/* feature */

/* product1 */
.product1 {
    text-align: center;
}
.product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.5s;
    position: relative;
}
.product1 .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}
.product1 .pro img {
    border-radius: 20px;
    width: 100%;
}
.product1 .pro .des {
    text-align: start;
    padding: 10px 0;    
}
.product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}
.product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
.product1 .pro .des i {
    font-size: 12px;
    color: rgba(228, 214, 14);
}
.product1 .pro .des h4 {
    font-size: 15px;
    padding-top: 7px;
    font-weight: 700;
    color: #088178;
}
.product1 .pro a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
/* product1 */

/* banner */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
.banner h4 {
    color: #fff;
    font-size: 16px;
}
.banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
.banner h2 span {
    color: #ef3636;
}
/* banner */

/* sm-banner */
.sm-banner .banner-box {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 30px;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
}
.sm-banner {
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
.sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

.sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}
/* sm-banner */

/* banner3 */
.banner3 .banner-box {
    min-width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
}
.banner3 {
    display: flex; 
    justify-content: space-between;
    padding: 0 80px;
    gap: 30px;
}
.banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
.banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
/* banner3 */

/* newsletter */
.newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/image/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
.newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
.newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
.newsletter p span {
    color: #ffbd27;
}
.newsletter .form {
    display: flex;
    width: 40%;
}
.newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* newsletter */

/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer .logo {
    margin-bottom: 30px;
}
.footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}
.footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}
.footer a {
    font-size: 13px;
    color: #222; 
    margin-bottom: 10px;
}
.footer .follow {
    margin-top: 20px;
}
.footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
.footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}
.footer .install img {
    margin: 10px 0 15px 0;
}
.footer .follow i:hover,
.footer a:hover {
    color: #088178;
}

.footer .copytext {
    width: 100%;
    text-align: center;
    font-size: 12px;
}
/* footer */




/* shop page */
.page_header {
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;  align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 14px;
}
.page_header h2, 
.page_header p {
    color: #fff;
}

.pagination {
    text-align: center;
}
.pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
.pagination i {
    color: #fff;
    font-size: 16px;
}
/* shop page */

/* single product page */
.single_pro-image {
    width: 40%;
    margin-right: 50px;
}
.small_img-group {
    display: flex;
    justify-content: space-between;
}
.small_img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.prodetails {
    display: flex;
    margin-top: 20px;
}
.single_pro-details {
    width: 50%;
    padding-top: 30px;
}
.single_pro-details h4 {
    padding: 40px 0 20px 0;
}
.single_pro-details h2 {
    font-size: 32px;
}
.single_pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;    
}

.single_pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.single_pro-details input:focus {
    outline: none;
}
.single_pro-details button {
    background-color: #088178;
    color: #fff;
}
.single_pro-details span {
    line-height: 25px;
}
/* single product page */

/* blog */
.blog {
    padding: 150px 150px 0 150px;
}
.blog_box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
.blog_img {
    width: 50%;
    margin-right: 40px;
}
.blog_img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.blog_details {
    width: 50%;
}
.blog_details a {
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    transition: 0.5s;
}
.blog_details a::after {
    content: '';
    width: 50%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -70px; 
    transition: 0.5s;
}
.blog_details a:hover {
    color: #088178;
}
.blog_details a:hover::after {
    background-color: #088178;
}
.blog_details h2 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;color: #c9cbce;
    z-index: -1;
}
/* blog */


/* about */
.about-head {
    display: flex;
    align-items: center;
}
.about-head div {
    padding-left: 40px;
}
.about-head img {
    width: 50%;
    height: auto;
}
.about_app {
    text-align: center;
}
.about_app h1 a {
    color: rgb(21, 27, 192);
    text-decoration: underline;
}
.about_app .video {
     width: 70%;
     height: 100%;
     margin: 30px auto 0 auto;
}
.about_app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/* about */

/* contacts */
.contact_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact_details .details {
    width: 40%;
}
.contact_details .details span,
.form_details form span {
    font-size: 12px;
}
.contact_details .details h2,
.form_details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
.contact_details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}
.contact_details .details li {
    display: flex;
    padding: 10px 0;
}
.contact_details .details li i {
    font-size: 14px;
    padding-right: 22px;
}
.contact_details .details li p {
    margin: 0;
    font-size: 14px;
}
.contact_details .map {
    width: 55%;
    height: 400px;
}
.contact_details .map iframe {
    width: 100%;
    height: 100%;
}
.form_details {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

.form_details form {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
}
.form_details form input,
.form_details form textarea {
    width: 100%;
    padding: 12px 25px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
.form_details form button {
    background-color: #088178;
    color: #fff;
}
.people .people_wrap {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
.people .people_wrap img {
    width: 65px;
    height: 65px;
    object-fit: contain;
    margin-right: 15px;
    border-radius: 50%;
}
.people .people_wrap p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
.people .people_wrap p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
/* contacts */

/* cart page */
.cart {
    overflow-x: auto;
}
.cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: pre-wrap;
}
.cart table img {
    width: 70px;
}
.cart table td {
    text-align: center;
}
.cart table input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}
.cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
.cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
.cart table tbody tr td {
    padding-top: 15px;
}
.cart table tbody td {
    font-size: 13px;
}
.cart_add {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.cart_add .coupon {
    width: 50%;
    margin-bottom: 30px;
}
.cart_add .coupon h3,
.subtotal h3 {
    padding-bottom: 15px;
}
.cart_add .coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
.cart_add .coupon button,
.subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}
.subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
.subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
/* cart page */


















/* media */
@media (max-width: 1000px) {
    .banner3 {
        flex-wrap: wrap;
    }
    .banner3 .banner-box {
        width: 100%;
    }
    .blog {
        padding: 150px 90px 0 90px;
    }
    .about-head {
        flex-direction: column;
    }
    .about-head marquee {
        margin-top: 20px;
    }
    .about-head img {
        width: 70%;
    }
}
@media (max-width: 799px) {
    .section-p1 {
        padding: 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }
    #navbar.active {
        right: 0;
    }
    #navbar li {
        margin-bottom: 25px;
    }
   .mobile {
        display: flex;
        align-items: center;
    }
    .mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }
    .hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    .feature_inner {
        justify-content: center;
        gap: 15px;
    }
    .pro-container {
        justify-content: center;
    }
    .product1 .pro {
        margin: 15px;
    }
    .banner {
        height: 20vh;
    }
    .sm-banner .banner-box {
        width: 100%;
        height: 30vh;
    }
    .sm-banner {
        flex-wrap: wrap;
    }
    .banner3 {
        padding: 0 40px;
        gap: 30px;
    }
    .newsletter .form {
        width: 70%;
    }
    .prodetails {
        display: flex;
        flex-direction: column;
    }
    .single_pro-image,
    .single_pro-details {
        width: 100%;
    }
    .blog {
        padding: 100px 30px 0 30px;
    }
    .blog_box {
        flex-direction: column;
    }
    .blog_img {
        width: 100%;
        margin: 0 auto;
    }
    .blog_details h2 {
        font-size: 50px;
        top: -34px;
    }
    .blog_details {
        width: 100%;
        padding-top: 20px;
    }
    .form_details {
        flex-direction: column;
        padding: 30px;
    }
    .form_details form {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .cart_add {
        flex-direction: column;
    }
    .cart_add .coupon,
    .subtotal {
        width: 100%;
    }
}
@media (max-width: 560px) {
    .sm-banner .banner-box {
        flex-wrap: nowrap;
    }
    .about-head img {
        width: 100%;
        margin-bottom: 30px;
    }
    .about-head div {
        padding: 0;
    }
    .about_app h1 {
        font-size: 26px;
    }
    .form_details {
        padding: 40px;
    }
    .contact_details {
        flex-direction: column;
    }
    .contact_details .map,
    .contact_details .details {
        width: 100%;
    }
    .form_details {
        padding: 0;
        border: none;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    .banner3 {
        padding: 0 20px;
    }
    .banner3 .banner-box {
        margin: 0;
    }
    .sm-banner  {
        padding-bottom: 30px;
    }
    .header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    .hero button {
        font-weight: 700;
    }
    .hero {
        padding: 0 20px;
        background-position: 55%;
    }
    .feature {
        justify-content: space-between;
    }
    .feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    .product1 .pro {
        width: 100%;
    }
    .banner {
        height: 40vh;
    }
    .sm-banner .banner-box {
        height: 40vh;
        text-align: left;
    }
    .newsletter {
        padding: 40px 20px;
    }
    .newsletter .form {
        width: 100%;
    }
    .copytext {
        text-align: start;
    }
    .blog_details p {
        font-size: 14px;
    }
    .blog_details h4 {
        font-size: 16px;
    }
    .blog_img img {
        height: auto;
    }
    .people .people_wrap {
        flex-wrap: wrap;
    }
}
/* media */